@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 14px;
  font-family: Tahoma, Helvetica, sans-serif;
  padding: 80px 50px;
}
nav{
  width: 70%
}
nav ul{
  background-color: #384452;
  list-style: none;
}
nav ul li{
  display: inline-block;
  padding: 25px;
}
nav ul li:hover{
  background-color: #3BBC96;
  cursor: pointer;
}
nav ul li a{
  text-decoration: none;
  color: #8BAEC2;
  margin-left: 15px;
}
nav ul li:hover a{
  color: #ffffff;
}
nav ul li a::before{
  font-family: FontAwesome, serif;
  margin-right: 10px;
  font-size: 18px;
}
nav ul li:first-child a::before{
  content: "\f002";
}
nav ul li:nth-child(2) a::before{
  content: "\f02c";
}
nav ul li:nth-child(3) a::before{
  content: "\f041";
}
nav ul li:nth-child(4) a::before{
  content: '\f007';
}
main{
  width: 70%;
}
main form{
  display: flex;
  flex-wrap: wrap;
}
main form label{
  color: #374574;
  display: block;
  font-weight: bold;
  width: 210px;
  margin-left: 38px;
  margin-top: 20px;
}
main form label input{
  display: block;
  border: 1px solid #CDCDCD;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 46px;
  padding-left: 14px;
}
main form button{
  margin-left: 38px;
  width: 210px;
  height: 46px;
  text-transform: uppercase;
  background-color: #384452;
  color: #CED1CA;
}
main form button:hover{
  background-color: #3BBC96;
  color: #FFF7E4;
  cursor: pointer;
}
