@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Lato, sans-serif;
  header{
    background-image: linear-gradient(rgba(20, 20, 20, 0.3),rgba(20, 20, 20, 0.3)),url("images/background.jpg");
    background-size: cover;
    .nav-container{
      display: flex;
      justify-content: space-around;
      figure{
        padding: 1.5em 0;
        img{
          max-width: 100%;
        }
      }
      ul{
        display: flex;
        width: 100%;
        li{
          list-style: none;
          padding: 2em 1em;
          font-weight: 900;
          a{
            text-decoration: none;
            color: #ffffff;
            text-transform: uppercase;
            &:hover{
              color: orange;
            }
          }
        }
      }
    }
    h1{
      color: #ffffff;
      text-align: center;
      padding-top: 6.5em;
      padding-bottom: 0.3em;
      letter-spacing: 0.1em;
      font-size: 2.8em;
    }
    p{
      color: #ffffff;
      text-align: center;
      padding-bottom: 20em;
      font-size: 1.2em;
    }
  }
  main{
    .first-section{
      background: #F5F5F5;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 5em;
      h2{
        padding-top: 2.5em;
        font-size: 2.3em;
      }
      p{
        padding: 1.5em;
        color: #989898;
      }
      section{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        article{
          width: 33%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 1em;
          &:hover{
            opacity: 0.6;
          }
          figure{
            img{
              width: 100%;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }
          }
          .destination-container{
            display: flex;
            justify-content: space-between;
            background: #ffffff;
            padding: 2em;
            .destination-name{
              font-weight: 900;
            }
          }
        }
      }
    }
    .second-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        padding-top: 3.5em;
      }
      p{
        padding: 1.5em;
        color: #B4B4B4;
        text-align: center;
      }
      section{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        article{
          width: 33%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-align: center;
          padding: 2em;
          figure{
            img{
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
            }
          }
          h3{
            padding-top: 1.2em;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4em;
    .left-container{
      padding-left: 12.5%;
      p{
        color: #B4B4B4;
      }
    }
    .right-container{
      padding-right: 12.5%;
      nav{
        ul{
          display: flex;
          list-style-type: none;
          li{
            padding: 1em;
            a{
              text-decoration: none;
              color: #B4B4B4;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1024px){
  body{
    header{
      .nav-container{
        flex-direction: column;
        align-items: center;
      }
    }
    main{
      .first-section{
        section{
          article{
            width: 50%;
          }
        }
      }
      .second-section{
        section{
          article{
            width: 100%;
          }
        }
      }
    }
    footer{
      flex-direction: column;
      .left-container{
        padding-left: 0;
        padding-bottom: 1em;
        order: 2;
      }
      .right-container{
        padding: 0;
        order: 1;
      }
    }
  }
}

@media all and (max-width: 640px){
  body{
    header{
      .nav-container{
        ul{
          flex-direction: column;
          align-items: center;
          li{
            padding: 1em 0;
          }
        }
      }
    }
    main{
      .first-section{
        section{
          article{
            width: 100%;
          }
        }
      }
    }
  }
}
