@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Lato, sans-serif; }
  body header {
    background-image: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url("images/background.jpg");
    background-size: cover; }
    body header .nav-container {
      display: flex;
      justify-content: space-around; }
      body header .nav-container figure {
        padding: 1.5em 0; }
        body header .nav-container figure img {
          max-width: 100%; }
      body header .nav-container ul {
        display: flex;
        width: 100%; }
        body header .nav-container ul li {
          list-style: none;
          padding: 2em 1em;
          font-weight: 900; }
          body header .nav-container ul li a {
            text-decoration: none;
            color: #ffffff;
            text-transform: uppercase; }
            body header .nav-container ul li a:hover {
              color: orange; }
    body header h1 {
      color: #ffffff;
      text-align: center;
      padding-top: 6.5em;
      padding-bottom: 0.3em;
      letter-spacing: 0.1em;
      font-size: 2.8em; }
    body header p {
      color: #ffffff;
      text-align: center;
      padding-bottom: 20em;
      font-size: 1.2em; }
  body main .first-section {
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em; }
    body main .first-section h2 {
      padding-top: 2.5em;
      font-size: 2.3em; }
    body main .first-section p {
      padding: 1.5em;
      color: #989898; }
    body main .first-section section {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      body main .first-section section article {
        width: 33%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1em; }
        body main .first-section section article:hover {
          opacity: 0.6; }
        body main .first-section section article figure img {
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px; }
        body main .first-section section article .destination-container {
          display: flex;
          justify-content: space-between;
          background: #ffffff;
          padding: 2em; }
          body main .first-section section article .destination-container .destination-name {
            font-weight: 900; }
  body main .second-section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body main .second-section h2 {
      padding-top: 3.5em; }
    body main .second-section p {
      padding: 1.5em;
      color: #B4B4B4;
      text-align: center; }
    body main .second-section section {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      body main .second-section section article {
        width: 33%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        padding: 2em; }
        body main .second-section section article figure img {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        body main .second-section section article h3 {
          padding-top: 1.2em;
          text-transform: uppercase; }
  body footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4em; }
    body footer .left-container {
      padding-left: 12.5%; }
      body footer .left-container p {
        color: #B4B4B4; }
    body footer .right-container {
      padding-right: 12.5%; }
      body footer .right-container nav ul {
        display: flex;
        list-style-type: none; }
        body footer .right-container nav ul li {
          padding: 1em; }
          body footer .right-container nav ul li a {
            text-decoration: none;
            color: #B4B4B4; }

@media all and (max-width: 1024px) {
  body header .nav-container {
    flex-direction: column;
    align-items: center; }
  body main .first-section section article {
    width: 50%; }
  body main .second-section section article {
    width: 100%; }
  body footer {
    flex-direction: column; }
    body footer .left-container {
      padding-left: 0;
      padding-bottom: 1em;
      order: 2; }
    body footer .right-container {
      padding: 0;
      order: 1; } }
@media all and (max-width: 640px) {
  body header .nav-container ul {
    flex-direction: column;
    align-items: center; }
    body header .nav-container ul li {
      padding: 1em 0; }
  body main .first-section section article {
    width: 100%; } }

/*# sourceMappingURL=dream-vacation.css.map */
