body {
    font-family: Arial, serif;
}

table {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    border: 2px solid #ccc;
    padding: 5px;
    background: #fff8b7;
}

table th, table td {
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    max-width: 500px;
}

table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

@media all and (max-width:600px) {

table {
  border: 0;
}
thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
table tr {
  margin-bottom: 10px;
  display: block;
  border-bottom: 2px solid #ddd;
  background: #fff5e7;
}
table td::before {
  content: attr(data-label);
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}
table td {
  display: block;
  text-align: right;
  font-size: 13px;
  border-bottom: 2px  solid #ccc;
}
table td:last-child {
    border-bottom: 0;
  }
}
