@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: “Roboto“,sans-serif;
  font-size: 14px;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.overlay{
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #3c3f49;
  position: absolute;
  z-index: -1;
}
header{
  background: url("img/header-bg.png") center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  height: 720px;
  color: #ffffff;
}
header nav{
  padding: 25px;
}
header a{
  color: #ffffff;
}
header nav h1{
  float: left;
}
header nav ul{
  float: right;
  list-style: none;
}
header nav ul li{
  float: left;
  margin: 0 10px;
}
header nav ul li a{
  text-transform: uppercase;
  font-weight: 900;
}
header nav ul li:hover a{
  color: orange;
}
header section.intro{
  width: 600px;
  margin: 200px auto;
}
header section.intro p{
  width: 550px;
  float: left;
  font-size: 30px;
}
header section.intro-articles{
  width: 90%;
  margin: 0 auto;
}
header section.intro-articles article{
  width: 25%;
  float: left;
  height: 180px;
}
header section.intro-articles article:hover{
  border-bottom: 5px solid orange;
}
header section.intro-articles article i{
  margin-bottom: 50px;
  height: 50px;
}
header section.intro-articles article p{
  padding: 0 25px 0 0;
}
main section.intro{
  position: relative;
}
main section.intro .orange-box{
  position: absolute;
  top: 5px;
  right: 0;
  width: 370px;
  height: 540px;
  background-color: orange;
  opacity: 0.6;
}
main section.intro .wrap{
  width: 80%;
  margin: 0 auto;
  padding: 5em;
}
main section.intro .wrap .box{
  float: left;
  width: 33%;
  height: 450px;
  text-align: center;
}
main section.intro .wrap .box img{
  height: 100%;
}
main section.intro .wrap .left-box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em;
}
main section.intro .wrap .left-box p{
  text-align: right;
  font-size: 2em;
  font-weight: 900;
}
main section.intro .wrap .left-box p span{
  display: block;
  padding-top: 3em;
  text-transform: capitalize;
  font-size: 0.6em;
  font-weight: 400;
}
main section.intro .wrap .center-box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  line-height: 1.5em;
}
main section.intro .wrap .center-box p:nth-of-type(2){
  font-weight: 900;
  font-size: 1.5em;
}
main section.intro .wrap .center-box hr{
  background-color: #ebebeb;
  height: 3px;
  border: 0;
  margin: 25px 0;
}
main section.meetings{
  background-color: #3c3f49;
  color: #ffffff;
}
main section.meetings .wrap{
  width: 80%;
  margin: 0 auto;
}
main section.meetings .wrap .description{
  padding: 2.5em 0 4em 0;
  font-size: 1.7em;
  font-weight: 900;
}
main section.meetings .wrap ul li{
  margin: 0 0 60px 0;
  width: 50%;
  float: left;
  line-height: 50px;
}
main section.meetings .wrap ul li .icon-holder i{
  background-color: #FA7033;
  padding: 0.7em;
  border-radius: 50%;
  font-size: 1.4em;
}
main section.meetings .wrap ul li .time-holder{
  font-weight: 900;
  padding-left: 1em;
}
main section.meetings .wrap ul li .name-holder{
  color: #dedede;
  text-transform: capitalize;
  padding-left: 1em;
}
main section.images .wrap{
  width: 80%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3em;
}
main section.images .wrap h2{
  float: left;
  width: 35%;
}
main section.images .wrap p{
  float: right;
  width: 65%;
  text-align: right;
  padding-top: 2em;
  font-style: italic;
  font-size: 1.2em;
}
main section.images .wrap .article-container{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3em;
}
main section.images .wrap .article-container article{
  float: left;
  width: 33%;
  text-align: center;
  box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
}
main section.images .wrap .article-container article figure img{
  width: 100%;
  padding-bottom: 2em;
}
main section.images .wrap .article-container article a{
  color: #000;
  font-size: 1.6em;
  text-transform: capitalize;
}
main section.images .wrap .article-container article h3{
  padding: 1.2em;
  text-transform: uppercase;
  color: #FA7033;
}
main section.special{
  background-color: #3c3f49;
  color: #ffffff;
  height: 700px;
  position: relative;
}
main section.special .wrap{
  width: 70%;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #dedede;
  position: absolute;
  top: 100px;
  left: 15%;
  text-align: center;
}
main section.special .wrap h2{
  font-size: 44px;
  text-transform: uppercase;
  line-height: 100px;
  padding: 50px;
}
main section.special .wrap p{
  width: 30%;
  margin: auto;
}
main section.special .wrap .email{
  margin-top: 100px;
}
main section.special .wrap .email input{
  border: 0;
  background-color: #3c3f49;
  outline: none;
  border-bottom: 3px solid #FC681E;
  font-size: 16px;
}
main section.special .wrap .email input::placeholder{
  color: #ffffff;
}
main section.special .wrap .email button{
  text-transform: uppercase;
  color: #ffffff;
  background-color: #FC681E;
  border-color: #FC681E;
  border-radius: 10px;
  padding: 5px 15px;
  margin-left: 40px;
  outline: none;
}
main section.special .wrap .email button:hover{
  background-color: #393939;
  border-color: #393939;
  cursor: pointer;
}
footer{
  background: #282A30;
  color: #ffffff;
  padding: 2em;
}
footer h2{
  float: left;
  text-transform: uppercase;
}
footer p{
  float: right;
  text-transform: uppercase;
}

@media all and (max-width: 768px) {
  header nav h1{
    float: none;
    text-align: center;
    padding-bottom: 1em;
  }
  header nav ul{
    float: none;
    text-align: center;
  }
  header nav ul li{
    float: none;
    padding: 0.5em;
  }
  header section.intro{
    display: none;
  }
  header section.intro-articles{
    padding-top: 12em;
  }
  main section.intro{
    height: 60em;
  }
  main section.images .wrap{
    padding: 0;
  }
  main section.images .wrap .article-container{
    padding: 0;
  }
  main section.images .wrap .article-container article{
    width: 50%;
  }
  main section.special{
    height: 60em;
  }
  main section.special .wrap{
    height: 50em;
  }
}